body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

select {
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
}

button {
  font-size: 16px;
  padding: 5px 10px;
}

#timer {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

